<%- include('../header') %>
<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
      <div class="row align-items-center">
          <div class="col-md-6 col-8 align-self-center">
              <h3 class="page-title mb-0 p-0">Category</h3>
              <div class="d-flex align-items-center">
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="/dash">Home</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Category</li>
                      </ol>
                  </nav>
              </div>
          </div>
          <div class="col-md-6 col-4 align-self-center">
              <div class="text-end upgrade-btn">
                  <a href="/product/addproduct"
                      class="btn btn-danger d-none d-md-inline-block text-white" target="_blank">Add New Product</a>
              </div>
          </div>
      </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="row">
          <!-- column -->
          <div class="col-sm-12">
              <div class="card">
                  <div class="card-body">
                      <h4 class="card-title">Category</h4>
                      <div class="table-responsive">
                          <table class="table user-table">
                              <thead>
                                  <tr>
                                      <th class="border-top-0">#</th>
                                      <th class="border-top-0">Category</th>
                                      <th class="border-top-0">Sub Category</th>
                                      <th class="border-top-0">Ex Sub Category</th>
                                      <th class="border-top-0">product</th>
                                      <th class="border-top-0">price</th>
                                      <th class="border-top-0">desc</th>
                                      <th class="border-top-0">image</th>
                                      <th class="border-top-0">action</th>
                                      <th class="border-top-0">Status</th>
                                  </tr>
                              </thead>
                              <tbody>
                                <% exsucategory.map((exsubcat,i)=>{%>
                                  <tr>
                                    <td> <%= ++i%> </td>
                                  <td><%=exsubcat.categoryid.category%></td>
                                  <td><%=exsubcat.subcategoryid.subcategory%></td>
                                  <td><%=exsubcat.exsubcategoryid.exsubcategory%></td>
                                  <td><%=exsubcat.product%></td>
                                  <td><%=exsubcat.price%></td>
                                  <td><%=exsubcat.desc%></td>
                                  <td>
                                    <img src= " ../<%=exsubcat.image %>" width="100" />
                                  </td>
                                  <td>
                                    <a class="btn btn-primary" href="/product/productedit?id=<%=exsubcat.id%>">edit</a>
                                    <a class="btn btn-danger" href="/product/productdelete?id=<%=exsubcat.id%>">delete</a>
                                  </td>
                                  <td>
                                    <% if(exsubcat.status=="active"){%>
                                      <a href="/product/changstatus?id=<%=exsubcat.id%>&status=<%= exsubcat.status%>" class="btn btn-success">Active</a>
                  
                                   <% }else{ %>
                                    <a href="/product/changstatus?id=<%=exsubcat.id%>&status=<%= exsubcat.status%>" class="btn btn-warning">Deactive</a>
                                  <% }%>
                                  </td>
                  
                             <%   })%>
                                
                                
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- ============================================================== -->
      <!-- End PAge Content -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Right sidebar -->
      <!-- ============================================================== -->
      <!-- .right-sidebar -->
      <!-- ============================================================== -->
      <!-- End Right sidebar -->
      <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Container fluid  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- footer -->
  <!-- ============================================================== -->
  <footer class="footer"> © 2021 Material Pro Admin by <a href="https://www.wrappixel.com/">wrappixel.com </a>
  </footer>
  <!-- ============================================================== -->
  <!-- End footer -->
  <!-- ============================================================== -->
</div>


<%- include('../footer') %>