<%- include('../header') %>
<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row align-items-center">
      <div class="col-md-6 col-8 align-self-center">
        <h3 class="page-title mb-0 p-0">Profile</h3>
        <div class="d-flex align-items-center">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active"
                aria-current="page">Profile</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="col-md-6 col-4 align-self-center">
        <div class="text-end upgrade-btn">
          <a href="https://www.wrappixel.com/templates/materialpro/"
            class="btn btn-danger d-none d-md-inline-block text-white"
            target="_blank">Upgrade to
            Pro</a>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->
    <div class="row">
      <!-- Column -->
      <div class="col-lg-12 col-xlg-12 col-md-12">
        <div class="card">
          <div class="card-body">
            <form class="form-horizontal form-material mx-2" method="post"
              action="/product/updateproduct" enctype="multipart/form-data">
              <input type="hidden" value="<%= single.id%>" name="editid">
              <div class="form-group">
                <label class="col-sm-12">Select Category</label>
                <div class="col-sm-12 border-bottom">
                  <select name="category" onchange="selectrecord()"
                    id="category"
                    class="form-select shadow-none ps-0 border-0 form-control-line">
                    <option value>-----select-option--</option>
                    <% category.map((cat)=>{ %>
                    <option value="<%= cat._id %>" <% if(cat?.category==
                      single?.categoryid?.category){%> selected<% }%>>
                      <%= cat.category %>
                    </option>
                    <% }) %>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-12">Select Sub Category</label>
                <div class="col-sm-12 border-bottom">
                  <select name="subcategory" onchange="subcatrecord()"
                    id="subcat"
                    class="form-select shadow-none ps-0 border-0 form-control-line">
                    <option value="">-----select-option--</option>
                    <% subcategory.forEach((cat) => { %>
                      <option value="<%= cat._id %>" 
                        <% if (cat.subcategory === single.subcategoryid.subcategory) { %> selected <% } %>>
                        <%= cat.subcategory %>
                      </option>
                    <% }); %>
                  </select>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-md-12 mb-0">Ex Sub Category Name</label>
                <div class="col-md-12">
                  <select name="exsubcategory"
                    class="form-select shadow-none ps-0 border-0 form-control-line"
                    id="exsubcat">
                    <option value>-----select-option--</option>
                    <%exsubcategory.map((cat)=>{ %>
                    <option value="<%= cat._id %>" <% if(cat.exsubcategory==
                      single.exsubcategoryid.exsubcategory){%> selected<% }%>>
                      <%= cat.exsubcategory %>
                    </option>
                    <% }) %>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-12 mb-0">product</label>
                <div class="col-md-12">
                  <input type="text" name="product"
                    value="<%= single.product %>" placeholder="product"
                    class="form-control ps-0 form-control-line">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-12 mb-0">price</label>
                <div class="col-md-12">
                  <input type="number" name="price" placeholder="price"
                    value="<%= single.price %>"
                    class="form-control ps-0 form-control-line">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-12 mb-0">desc</label>
                <div class="col-md-12">
                  <input type="text" name="desc" placeholder="desc"
                    value="<%= single.desc %>"
                    class="form-control ps-0 form-control-line">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-12 mb-0">image</label>
                <div class="col-md-12">
                  <input type="file" name="image" placeholder="image"
                    class="form-control ps-0 form-control-line">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12 d-flex">
                  <button type="submit"
                    class="btn btn-success mx-auto mx-md-0 text-white">Add Ex
                    Sub Category</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Column -->
    </div>
    <!-- Row -->
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Container fluid  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- footer -->
  <!-- ============================================================== -->
  <footer class="footer"> © 2021 Material Pro Admin by <a
      href="https://www.wrappixel.com/">wrappixel.com </a>
  </footer>
  <!-- ============================================================== -->
  <!-- End footer -->
  <!-- ============================================================== -->
</div>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
  const selectrecord = () =>{
    let category=document.getElementById('category').value
    console.log(category);
    
  $.ajax ({
    type:"GET",
    url:`/exsubcategory/ajaxcategory?id=${category}`, 
    success:function(res){
      const category=res.category
   
      
      let tbl=""
 tbl+=`<option value="">-----select-option--</option>`
      category.map((cat)=>{
             tbl+=`
              <option value=${cat._id} > ${cat.subcategory}</option>

             `
      })
      document.getElementById("subcat").innerHTML=tbl
      
    }
    })
  }

  const subcatrecord=()=>{
    let subcategory=document.getElementById('subcat').value
   
  $.ajax ({
    type:"GET",
    url:`/product/ajaxcategory?id=${subcategory}`, 
    success:function(res){
      const subcategory=res.subcategory
      console.log(subcategory);
      
      let tbl=""
 tbl+=`<option value="">-----select-option--</option>`
 subcategory.map((cat)=>{
             tbl+=`
              <option value=${cat._id} > ${cat.exsubcategory}</option>

             `
      })
      document.getElementById("exsubcat").innerHTML=tbl
      
    }
    
    })
  }
</script>
<%- include('../footer') %>
